body{
	
	background-repeat:no-repeat;
	background-size:cover;
	font-family:quicksand;
}

.input-group{
	margin-left:54%;

}

.carousel-item {
   height: 70%;
   
}
.carousel-caption{
	color: black;
   	text-align: left;
	font-style: inherit;
	font-weight: bold;
}
.Title{
	clear: left;
	
}
.Title h3{
	font-weight: bold;
	margin: 18px 0 0 15px;
	
}
.Title i{
	
	text-align: center;

}
.card{
	margin: 18px 0 10px 15px;
	float: left;
	transition: transform .2s;
}
.card:hover{
	transform: scale(1.1);
	box-shadow: 2px; 
}
.card-img-top{
	height: 190px;
	width: 170px;
	padding: 8px 8px 0px 8px;
	border-radius: 11px;
}


.card a{
	text-decoration: none;
	color: black;
}
.icon{
	padding: 8px 8px 8px 8px;
}
.fas.fa-heart{
	color: #444547;
}
.fas.fa-heart:hover{
	color: red;
	
}
.fas.fa-heart:visited{
	color: red;
	
}
.fas.fa-share-alt{
	color: #444547;
	margin: 0 0 0 9px;
}
.fas.fa-share-alt:hover{
	color: black;
}
footer{
	background-color: rgb(43, 44, 44);
	
}