body{
	
	background-repeat:no-repeat;
	background-size:cover;
	font-family:quicksand;
}
#up{
	margin: 0 10px 0 15px;
	position: relative;
	
  }
#up:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #aaa;
	height: 1px;
  }
#up:hover:after {
	width: 100%;
	transition: 0.5s;
  }
.input-group{
	margin-left:54%;

}
.navbar-brand{
	margin: 0 22% 0 15px;
	

}
.nav-link{
	font-weight: bold;
}
.navbar.navbar-expand-sm{

	box-shadow: 0 8px 6px -6px #999;
}
.carousel-item {
   height: 78%;
   
}
.carousel-item img{
	height: 100%;
	width: 70%;
	opacity: 0.8;
}
.Title{
	clear: left;
	
}
.Title h3{
	font-weight: bold;
	margin: 18px 0 0 15px;
	
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 13.5px;
	text-shadow: 4px 4px 4px 4px darkgrey;
	font-weight: bold;
	color: cornsilk;
  }
.Title i{
	
	text-align: center;

}
.card.l{
	margin: 18px 0 10px 15px;
	float: left;
	transition: transform .2s;
	
}
.card.l:hover{
	transform: scale(1.1);
	box-shadow: 2px; 
}
.card-img-top{
	height: 190px;
	width: 170px;
	padding: 8px 8px 0px 8px;
	border-radius: 11px;
}
.icon{
	padding: 8px 8px 8px 8px;
}
.fas.fa-heart{
	color: #444547;
}
.fas.fa-heart:hover{
	color: red;
	
}
.fas.fa-heart:visited{
	color: red;
	
}
.fas.fa-share-alt{
	color: #444547;
	margin: 0 0 0 9px;
}
.fas.fa-share-alt:hover{
	color: black;
}
footer{
	background-color: rgb(43, 44, 44);
	color: cornsilk;
}
.carousel-caption{
	color: black;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
}
.carousel-caption h5{
	color: rgb(70, 29, 218);
	font-size: 20px;
}
.carousel-item.l{
	height: 64%;
	
 }

 .Title.l{
	 text-align: center;
 }

 .card.u{
	margin: 12% 10px 0 12%;
	border: none;
	float: left;
	
 }
 .card.i{
	
	border: none;
	margin: 5% 10px 0 9%;
	clear: both;
	float: left;
	
 }
 .card.i img{
	border-radius: 18px;	
	opacity:0.4;
	
 }
  .card.i img:hover{
	opacity:1;
	transition: opacity 0.9s;
 }
 .card.o{
	
	border: none;
	margin: 5% 10% 0 10px;
	clear: both;
	float: right;
	
 }
 .card.o img{
	border-radius: 18px;
	opacity:0.4;
 }
  .card.o img:hover{
	opacity:1;
	transition: opacity 0.9s;
 }
 .card.i a{
	 text-decoration: none;
	 color: rgb(71, 71, 71);
	 font-weight: bold;
 }
 .card.o a{
	text-decoration: none;
	color: rgb(71, 71, 71);
	font-weight: bold;
}
 .cap{
	 margin: 8% 12% 0 12%;
	 text-align: center;
 }
 .col{
	margin:13px 0 12px 17px;
	
 }
 footer{
     background-color: #33383c;
     padding:40px 0px;
	 
}	       

footer ul li{
    padding:5px 0px;
}

.Logo span , .Support span , .social span{
   color: #FFF; 
   font-weight: 800; 
   padding-bottom: 10px; 
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 20px;
   letter-spacing: 3px;
   border-bottom:3px solid white;
}
.support li a , .social li a{
    color:#FFF;
    letter-spacing: 2px;
    text-decoration:none;
	list-style:none;
    font-size:15px;
}

.social li{
    float:left;
	margin: 0 0 0 15px;
}

.Logo , .support , .social {
    list-style: none;
}

footer i{
    color:#9c9c9c;
    margin-right: 15px;
    font-size:14px;
	border-radius:30px;
	transition: 05s;
}
footer i:hover{
	background-color:#b1b1b3;
	
}
.footer.l{
	 background-color: #33383c;
	padding:40px 0px;
	margin: 10% 0 0 0 ;
}

