body{
	
	background-repeat:no-repeat;
	background-size:cover;
	font-family:quicksand;
}
#up{
	margin: 0 10px 0 15px;
	position: relative;
  }
  #up:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #aaa;
	height: 1px;
  }
  #up:hover:after {
	width: 100%;
  }
.input-group{
	margin-left:54%;

}
.navbar-brand{
	margin: 0 22% 0 15px;

}
.nav-link{
	font-weight: bold;
}
.navbar.navbar-expand-sm{

	box-shadow: 0 8px 6px -6px #999;
}
.carousel-item {
   height: 78%;
   
}
.carousel-item img{
	height: 100%;
	width: 70%;
}
.Title{
	clear: left;
	
}
.Title h3{
	font-weight: bold;
	margin: 18px 0 0 15px;
	
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 13.5px;
	text-shadow: 4px 4px 4px 4px darkgrey;
	font-weight: bold;
	color: cornsilk;
  }
.Title i{
	
	text-align: center;

}
.card{
	margin: 18px 0 10px 15px;
	float: left;
	transition: transform .2s;
}
.card:hover{
	transform: scale(1.1);
	box-shadow: 2px; 
}
.card-img-top{
	height: 190px;
	width: 170px;
	padding: 8px 8px 0px 8px;
	border-radius: 11px;
}


.card a{
	text-decoration: none;
	color: black;
}
.icon{
	padding: 8px 8px 8px 8px;
}
.fas.fa-heart{
	color: #444547;
}
.fas.fa-heart:hover{
	color: red;
	
}
.fas.fa-heart:visited{
	color: red;
	
}
.fas.fa-share-alt{
	color: #444547;
	margin: 0 0 0 9px;
}
.fas.fa-share-alt:hover{
	color: black;
}
footer{
	background-color: rgb(43, 44, 44);
	
}