body{
	background-color: #000;
	background-repeat:no-repeat;
	background-size:cover;
	font-family:quicksand;
}
#up{
	margin: 0 10px 0 15px;
	position: relative;
	transition: 0.5s;
  }
#up:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #aaa;
	height: 1px;
  }
#up:hover:after {
	width: 100%;
	transition: 0.5s;
  }


.nav-link{
	font-weight: bold;
}
.navbar.navbar-expand-sm{

	box-shadow: 0 8px 6px -6px #999;
}
.carousel-item {
   height: 78%;
   opacity: 0.7;
}
.carousel-item img{
	height: 100%;
	width: 70%;

}
.Title{
	clear: left;
}
.Title h3{
	font-weight: bold;
	margin: 18px 0 0 15px;
	
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 13.5px;
	text-shadow: 4px 5px 6px 0 rgb(46, 45, 45);
	font-weight: bold;
	color: rgb(58, 98, 145);
  }
.Title i{
	text-align: center;

}

.card.l{
	margin: 18px 0 10px 15px;
	transition: transform .2s;
	
}
.card.l:hover{
	transform: scale(1.1);

}
.card-img-top{
	height: 190px;
	width: 170px;
	
}
.icon{
	padding: 8px 8px 10px 8px;
}
.fas.fa-plane-departure{
	color: #444547;
	margin: 0 0 0 57%;
}
.fas.fa-heart{
	color: #444547;
}
.fas.fa-heart:hover{
	color: red;
	
}

.fas.fa-share-alt{
	color: #444547;
	margin: 0 0 0 9px;
}
.fas.fa-share-alt:hover{
	color: black;
}

.carousel-caption{
	font-weight: bold;
	font-size: 18px;
}
.carousel-caption h5{

	font-size: 20px;
}
.carousel-item.l{
	height: 64%;
	
 }

 .Title.l{
	 text-align: center;
 }

 
 .cap{
	 margin: 8% 12% 0 12%;
	 text-align: center;
 }
 .col{
	margin:13px 0 12px 17px;
	
 }
 footer{
    background-color: #33383c;
    padding:40px 0px;
	background-color: rgb(43, 44, 44);
	color: cornsilk;
	font-family: quicksand;
}	       

footer ul li{
    padding:5px 0px;
	
}

.Logo span , .Support span , .social span{
   color: #FFF; 
   font-weight: 800; 
   padding-bottom: 10px; 
   margin-bottom: 20px;
   display: block;

   font-size: 17px;
   letter-spacing: 2px;
   border-bottom:2px solid rgb(201, 201, 201);
}
.logo span img{
	width: 30.06px;
}
.support li a , .social li a{
    color:#FFF;
    letter-spacing: 2px;
    text-decoration:none;
	list-style:none;
    font-size:15px;
}

.social li{
    float:left;
	margin: 0 0 0 15px;
}

.Logo , .support , .social {
    list-style: none;
}

footer i{
    color:#9c9c9c;
    margin-right: 15px;
    font-size:14px;
	border-radius:30px;
	transition: color 0.5s;
}
footer i:hover{
	color: #000;
	transition: 0.5;
}
.footer.l{
	background-color: #33383c;
	padding:40px 0px;
	margin: 10% 0 0 0 ;
}
.cursor.o{
    cursor:pointer;
	font-weight: bold;
}
.container.h:hover{
	
}
